.post-spread {
  margin-top: 20px;
  text-align: center;
}

.jiathis_style {
  display: inline-block;

  a { border: none; }
}

#jiathis {
	text-align: center;
}

#jiathis_weixin_modal {
	text-align: center;
	margin-left: -180px !important;
}

#jiathis_webchat img {
	margin-left: auto;
	margin-right: auto;
}

#jiathis_weixin_tip {
	line-height: normal;
}
