// Custom styles.
@font-face {
  font-family: 'iconfont';  /* project id 579191 */
  src: url('//at.alicdn.com/t/font_579191_j9fjpt2uglrqkt9.eot');
  src: url('//at.alicdn.com/t/font_579191_j9fjpt2uglrqkt9.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_579191_j9fjpt2uglrqkt9.woff') format('woff'),
  url('//at.alicdn.com/t/font_579191_j9fjpt2uglrqkt9.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_579191_j9fjpt2uglrqkt9.svg#iconfont') format('svg');
}

.iconfont{
    font-family:"iconfont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;}

//头像改成圆形
.site-author-image {
	border-radius: 50%;
}

//底部广告
#recommendBooks {
	font-size: small;
	font-weight: bold;
	text-align: center;
}

#recommendBooks > a {
	margin: 5px;
}

#recommendBooks > a:hover {
	color: brown;
	/*font-size: 1.2em;*/
}

//结婚照
.marryPics img {
	width: 33%;
	display: inline !important;
}

.fancybox-skin {
	padding: 5px !important;
}

//代码块修改
.code {
	padding-left: 20px !important;
	background-color: black;
}

//统计图标
.powered-by img,
.ba-info img {
	display: inline-block;
}

//打赏
#rewardTip {
	margin: 0 auto;
	font-size: 1.2em;
	color: white;
	background: #da5b4e;
	width: 119px;
	height: 49px;
	line-height: 49px;
	border-radius: 5px;
	text-align: center;
	cursor: pointer;
}

#dsWrapper {
	display: none;
	margin: 0 auto;
}

#dsWrapper p {
	text-align: center;
	font-size: 0.9em;
	margin: 5px 0 0 0 ;
}

#dsWrapper img {
	margin: 0 auto;
}

#jd_channel {
	text-align: center;
}

#SOHUCS {
    width: 700px !important;
}

.issue {
  margin-right: 10px;
  display: inline-block;
  font-size: small;
}

#alipay img {
	width: 200px;
	margin: 0 auto;
}
