// Custom styles.
//头像改成圆形
.site-author-image {
	border-radius: 50%;
}

//底部广告
#recommendBooks {
	font-size: small;
	font-weight: bold;
	text-align: center;
}

#recommendBooks > a {
	margin: 5px;
}

#recommendBooks > a:hover {
	color: brown;
	font-size: 1.2em;
}

//结婚照
.marryPics img {
	width: 33%;
	display: inline !important;
}

.fancybox-skin {
	padding: 5px !important;
}

//代码块修改
.code {
	padding-left: 20px !important;
	background-color: black;
}
